node-red app/flows.json
[{"id":"7d5f3696.ac8888","type":"tab","label":"Voice Enabled COVID Chatbot","disabled":false,"info":""},{"id":"537f3cf6.cfe724","type":"debug","z":"7d5f3696.ac8888","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":1030,"y":320,"wires":[]},{"id":"5bfc6010.6d126","type":"comment","z":"7d5f3696.ac8888","name":"Reply to the user","info":"","x":1260,"y":340,"wires":[]},{"id":"d87e1519.f2d798","type":"change","z":"7d5f3696.ac8888","name":"Pass the recorded transcript to Conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"chatstart","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["6f47e766.c62348","77d99a4a.4c9b04"]]},{"id":"64fa6dc7.56b6d4","type":"debug","z":"7d5f3696.ac8888","name":"","active":true,"tosidebar":true,"console":false,"complete":"transcription","x":530,"y":60,"wires":[]},{"id":"e9036fd8.8d149","type":"debug","z":"7d5f3696.ac8888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":100,"wires":[]},{"id":"65a41d62.4fbb74","type":"inject","z":"7d5f3696.ac8888","name":"","topic":"","payload":"what is coronavirus","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":140,"wires":[["77d99a4a.4c9b04"]]},{"id":"fd91bb95.4ae948","type":"ui_microphone","z":"7d5f3696.ac8888","group":"be47e193.b18ed","order":5,"width":0,"height":0,"name":"","maxLength":3,"timeslice":0,"x":90,"y":100,"wires":[["d4b849c0.ec4768"]]},{"id":"af5e8d71.8c79c","type":"inject","z":"7d5f3696.ac8888","name":"","topic":"","payload":"How many cases of coronavirus","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":180,"wires":[["77d99a4a.4c9b04"]]},{"id":"3884bac1.dd5216","type":"change","z":"7d5f3696.ac8888","name":"delete history","rules":[{"t":"delete","p":"history","pt":"flow"},{"t":"set","p":"chatstart","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":220,"wires":[["6f47e766.c62348"]]},{"id":"d57dbb44.3dbaf8","type":"ui_button","z":"7d5f3696.ac8888","name":"","group":"be47e193.b18ed","order":6,"width":6,"height":1,"passthru":false,"label":"Clear Chat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":200,"wires":[["3884bac1.dd5216"]]},{"id":"4ff0a66f.435c58","type":"inject","z":"7d5f3696.ac8888","name":"","topic":"Clear Chat","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["3884bac1.dd5216"]]},{"id":"903630e5.922ed","type":"ui_template","z":"7d5f3696.ac8888","group":"aaf07a3.9868788","name":"Chat History","order":1,"width":10,"height":15,"format":"<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\"></div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Render the chatbot table when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n      // scroll to Bottom\n      var elmnt = document.getElementById(\"chatbot\");\n      elmnt.scrollIntoView(false);\n    }\n  });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1150,"y":240,"wires":[[]]},{"id":"17fedbd2.06e904","type":"debug","z":"7d5f3696.ac8888","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":200,"wires":[]},{"id":"6f47e766.c62348","type":"function","z":"7d5f3696.ac8888","name":"Build Chat table","func":"var chathistory = flow.get(\"history\")||[];\nvar chatstart = flow.get(\"chatstart\");\nvar who;\n\nif( typeof(chatstart) == 'undefined' ) { chatstart = true ; }\nif(chatstart===true) {\n    who = \"Q\";\n} else {\n    who = \"A\";\n}\n\nvar newchatentry = {\"who\":\"\",\"text\":\"\"};\nif( chathistory.length === 0 ) {\n    // First chat, init the table\n    newchatentry = {\"who\":\"A\",\"text\":\"Hello, I’m the COVID Crisis Communication Bot ready to answer your questions about COVID-19. How can I help you?\"};\n\n    // Add the question, if its not a Clear Chat button press\n    if( msg.payload.length ) { \n        chathistory.push(newchatentry);\n        newchatentry = {\"who\":\"Q\",\"text\":msg.payload}; \n    }\n} else {\n    newchatentry = {\"who\":who,\"text\":msg.payload};\n}\nchathistory.push(newchatentry);\n\nmsg.payload=\"<style>\";\nmsg.payload=msg.payload+\"table { width: 488px; margin-top: 10px; }\";\nmsg.payload=msg.payload+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.payload=msg.payload+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.payload=msg.payload+\"</style>\";\n\nmsg.payload=msg.payload+\"<table id=\\\"chatbot\\\" span=100%><tr><th>Chat History</th></tr>\";\nfor( i = 0; i < chathistory.length; i++ ) {\n    if( chathistory[i].who == \"Q\" ) {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:right;\\\">\"+chathistory[i].text+\"</p></td></tr>\" ;\n    } else {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:left;background-color:#f2f2f2;\\\">\" +chathistory[i].text+\"</p></td></tr>\" ;\n    }\n}\n\nmsg.payload = msg.payload + \"</table>\";\nflow.set(\"chatstart\",false);\nflow.set(\"history\",chathistory);\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":220,"wires":[["903630e5.922ed","17fedbd2.06e904"]]},{"id":"3e77ac0b.6a0844","type":"function","z":"7d5f3696.ac8888","name":"Watson Conversation Reply","func":"function createTextLinks(text) {\n\n  return (text || \"\").replace(\n    /([^\\S]|^)(((https?\\:\\/\\/)|(www\\.))(\\S+))/gi,\n    function(match, space, url){\n      var hyperlink = url;\n      if (!hyperlink.match('^https?:\\/\\/')) {\n        hyperlink = 'http://' + hyperlink;\n      }\n      return space + '<a href=\"' + hyperlink + '\">' + url + '</a>';\n    }\n  );\n}\n\nvar response = \"\"\n\nfor(i=0;i<msg.payload.output.generic.length;i++) {\n  response = response + msg.payload.output.generic[i].text ;\n}\n\nresponse = createTextLinks(response);\n\n// The news reports will have \\n, replace with breaks\nmsg.payload = response.replace(/(?:\\r\\n|\\r|\\n)/g, '<br />');\n\n// The news reports will have http: links. Make them \n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["537f3cf6.cfe724","6f47e766.c62348","41e0dbb0.b21b04"]]},{"id":"f9786429.08ae58","type":"function","z":"7d5f3696.ac8888","name":"","func":"if( typeof msg.payload.intents != 'undefined') {\n    if( msg.payload.intents.length > 0 ) {\n        if( typeof msg.payload.intents[0].intent!= 'undefined') {\n            return [msg, null];\n        }\n    }\n}\nmsg.payload = \"Sorry, the chat bot did not understand the question.\";\nreturn [null,msg];","outputs":2,"noerr":0,"x":110,"y":360,"wires":[["f67f595.543b3a8"],["41e0dbb0.b21b04"]]},{"id":"f67f595.543b3a8","type":"switch","z":"7d5f3696.ac8888","name":"Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"How_many_cases","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":320,"wires":[[],["3e77ac0b.6a0844"]]},{"id":"90e546dc.619138","type":"play audio","z":"7d5f3696.ac8888","name":"","voice":"2","x":1270,"y":380,"wires":[]},{"id":"d4b849c0.ec4768","type":"watson-speech-to-text","z":"7d5f3696.ac8888","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","custom-weight":"0.5","band":"","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":300,"y":80,"wires":[["d87e1519.f2d798","64fa6dc7.56b6d4"]]},{"id":"77d99a4a.4c9b04","type":"watson-conversation-v1","z":"7d5f3696.ac8888","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":940,"y":100,"wires":[["e9036fd8.8d149","f9786429.08ae58"]]},{"id":"41e0dbb0.b21b04","type":"watson-text-to-speech","z":"7d5f3696.ac8888","name":"","lang":"","langhidden":"","langcustom":"","langcustomhidden":"","voice":"","voicehidden":"","format":"audio/wav","password":"","apikey":"","payload-response":false,"service-endpoint":"","x":1020,"y":420,"wires":[["90e546dc.619138"]]},{"id":"be47e193.b18ed","type":"ui_group","z":"","name":"Record","tab":"96297a45.ed62d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"aaf07a3.9868788","type":"ui_group","z":"","name":"Chat","tab":"96297a45.ed62d8","order":2,"disp":true,"width":"10","collapse":false},{"id":"96297a45.ed62d8","type":"ui_tab","z":"","name":"COVID Voice Chatbot","icon":"dashboard","disabled":false,"hidden":false}]